<p>Dear Admin,</p>
<p>Welcome to EventTracker!</p>
<p>This is to info you on the updates made to an event created by: Name: {name}, Email: {email} and Phone number: {phoneNo}</p>
<p>Event type: {eventType}</p>
<p>Guest no: {guestNo}</p>
<p>Event data: {eventDate}</p>
<p>Budget Estimatimation: {budgetEstimate}</p>
<p>Sourced out services:location: {location}, Contact phone no: {contactNo}, Service rate: {serviceRate}
  <p>
    <p>Services requested: {description}</p>
    <p>Sincerely,</p>
    <p>The EventTrack Team</p>
    <p>
      <small>Note: replies to this email address are not monitored.</small>
    </p>